<%= form_with(model: bloque, local: true) do |form| %>
  <% if bloque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bloque.errors.count, "error") %> prohibited this bloque from being saved:</h2>

      <ul>
      <% bloque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :bloque %>
    <%= form.text_field :bloque %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.datetime_select :hora %>
  </div>

  <div class="field">
    <%= form.label :guid %>
    <%= form.text_field :guid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
