<p id="notice"><%= notice %></p>

<h1>Bloques</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Bloque</th>
      <th>Hora</th>
      <th>Guid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bloques.each do |bloque| %>
      <tr>
        <td><%= bloque.id %></td>
        <td><%= bloque.bloque %></td>
        <td><%= bloque.hora %></td>
        <td><%= bloque.guid %></td>
        <td><%= link_to 'Show', bloque %></td>
        <td><%= link_to 'Edit', edit_bloque_path(bloque) %></td>
        <td><%= link_to 'Destroy', bloque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bloque', new_bloque_path %>
