<p id="notice"><%= notice %></p>

<h1>Zonas</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Localidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zonas.each do |zona| %>
      <tr>
        <td><%= zona.id %></td>
        <td><%= zona.nombre %></td>
        <td><%= zona.direccion %></td>
        <td><%= zona.localidad %></td>
        <td><%= link_to 'Show', zona %></td>
        <td><%= link_to 'Edit', edit_zona_path(zona) %></td>
        <td><%= link_to 'Destroy', zona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zona', new_zona_path %>
