<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @zona.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @zona.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @zona.direccion %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @zona.localidad %>
</p>

<%= link_to 'Edit', edit_zona_path(@zona) %> |
<%= link_to 'Back', zonas_path %>
