<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blockchain.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @blockchain.email %>
</p>

<%= link_to 'Edit', edit_blockchain_path(@blockchain) %> |
<%= link_to 'Back', blockchains_path %>
