<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @usuario.cedula %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuario.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @usuario.correo %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @usuario.cargo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @usuario.fecha_nacimiento %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
