<header class="encabezado hdmenu">
    <div class="logo">
        <%= image_tag("logotemp.png", :alt => "rss feed") %>
    </div>
    <div class="texto">
        <ul>
            <li><a class="nav-link js-scroll-trigger clbm" href="#inicio">INICIO</a></li>
            <li><a class="nav-link js-scroll-trigger clbm" href="#funcionamiento">¿COMO FUNCIONA?</a></li>
            <li><a class="nav-link js-scroll-trigger clbm" href="#contacto">CONT&Aacute;CTANOS</a></li>
            <li class="boton_rep"><a class="nav-link js-scroll-trigger clbm" href="#">REPORTE</a></li>
        </ul>
    </div>
</header>


<section class="imagen_grande">
    <header class="responsive">
        <div class="barraFixed">
            <div class="izquierdo">
                <div class="oscuro">
                      <%= image_tag("logotemp.png", :alt => "Logo" )%>
                </div>
                <div class="claro">
                     <%= image_tag("oscuro.png", :alt => "Logo" )%>
                </div>
               
            </div>
            <div class="derecho"><i class="fas fa-bars"></i></div>
        </div>
        <div class="contenedor">
            <nav>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="#">Contacto</a></li>
            </nav>
        </div>
    </header>
    <div class="contenedor">
        <div class="informacion">
            <p>LO QUE BOGOTÁ ESTABA <strong>ESPERANDO</strong>, <br> <strong>SISTEMA</strong> PARA LA GESTIÓN DE
                <br> <span class="a1">DENUNCIAS DE ROBO</span>
                <br> <span class="a2">#LibresDeLaManipulación</span></p>
        </div>
        <div class="botones">
            <button>
                INICIAR SESIÓN
            </button>
            <button>
                REGISTRARSE
            </button>
        </div>
    </div>
</section>
<section class="basta">
    <div class="contenedor">
        <div class="imagen_ladron">
            <%= image_tag("ladron.gif", :alt => "rss feed") %>
        </div>
        <div class="texto_basta">
            <h2>¡BASTA!</h2>
            <br>
            <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet aliquet neque. Maecenas
                eget finibus nunc. Donec arcu quam, euismod ac tempor ut, tempus vel nis Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Phasellus sit amet aliquet neque. Maecenas eget finibus nunc.
                Donec arcu quam, euismod ac tempor ut, tempus vel nis </p>

        </div>
    </div>
</section>
<div class="curva">
    <%= image_tag("pattern.png", :alt => "rss feed") %>
</div>
<section class="como_funciona">
    <div class="contenedor">
        <div class="blockchain comida">
            <div class="izq">
                <%= image_tag("block.png", :alt => "rss feed") %>
            </div>
            <div class="der">
                <p class="titulo">BLOCKCHAIN</p>
                <p>No permitiremos abusos, mediante la red de blockchain tendremos un soporte de seguridad para evitar
                    fraude.</p>
            </div>
        </div>
        <div class="nuestro comida">
            <div class="izq">
                <%= image_tag("watson.png", :alt => "rss feed") %>
            </div>
            <div class="der">
                <p class="titulo">NUESTRO SISTEMA PIENSA</p>
                <p>Mediante IBM Watson podremos analizar imágenes, texto, tonos de voz e incluso tener un asistente</p>
            </div>
        </div>
        <div class="mundo comida">
            <div class="izq">
                <%= image_tag("blockchain.png", :alt => "rss feed") %>
            </div>
            <div class="der">
                <p class="titulo">UN MUNDO MÁS RÁPIDO</p>
                <p>Al realizar todo online las autoridades podrán evaluar las denuncias sin tener que ir a una estación</p>
            </div>
        </div>
        <div class="el_centro comida">
            <div class="izq">
                <%= image_tag("users.png", :alt => "rss feed") %>
            </div>
            <div class="der">
                <p class="titulo">TÚ ERES EL CENTRO</p>
                <p>Queremos hacerte sentir seguro. Reporta y podremos luchar juntos contra la inseguridad.</p>
            </div>
        </div>
        <div class=" comida">
            <div class="izq">
                <%= image_tag("idea.png", :alt => "rss feed") %>
            </div>
            <div class="der">
                <p class="titulo">TECNOLOGÍA</p>
                <p>Trayendo a tus manos todas las tecnologías már recientes, estamos a la vanguardia para protegerte.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="curva2">
    <%= image_tag("curva.svg", :alt => "rss feed") %>
</div>
<section class="denuncia">
    <div class="contenedor">
        <div class="titulo">
            <h1>DENUNCIA SIN MIEDO <br>LIBRES DE CORRUPCIÓN</h1>
        </div>
        <div class="padre">

            <div class="texto_denuncia">
                <h1>SIN ESPERAS</h1>
                <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet aliquet neque. Maecenas
                    eget finibus nunc. Donec arcu quam, euismod ac tempor ut, tempus vel nis Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Phasellus sit amet aliquet neque. Maecenas eget finibus nunc.
                    Donec arcu quam, euismod ac tempor ut, tempus vel nis </p>
            </div>
            <div class="imagen_ladron2">
                <%= image_tag("gangster.gif", :alt => "rss feed") %>
            </div>
        </div>
    </div>
</section>
<section class="contacto" id="contacto">
    <div class="titulo">
        <h1 id="funcionamiento">CONTÁCTANOS</h1>
    </div>
    <div class="imagen">
        <%= image_tag("cop.gif", :alt => "rss feed") %>
    </div>
    <form action="">
        <label for="">INGRESE SU NOMBRE</label>
        <input type="text" name="" id="" placeholder="Nombre">
        <label for="">INGRESE SU CORREO</label>
        <input type="text" name="" id="" placeholder="Correo">
        <label for="">INGRESE SU MENSAJE</label>
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
    </form>
    <button>ENVIAR</button>
</section>
<footer>
    <!-- Si hacen algo se añaden-->
    <p>
        TODOS LOS DERECHOS RESERVADOS <br>
        DISEÑADO POR ANDRÉS LARGO <br>
        MAQUETADO POR ANDRÉS LARGO, ERIKA INFANTE, YULIAN
        CARDENAS & MIGUEL ORJUELA
    </p>

</footer>