<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @denuncium.id %>
</p>

<p>
  <strong>Usuario cedula:</strong>
  <%= @denuncium.usuario_cedula %>
</p>

<p>
  <strong>Tipo denuncia:</strong>
  <%= @denuncium.tipo_denuncia %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @denuncium.fecha %>
</p>

<p>
  <strong>Descripcion asalto:</strong>
  <%= @denuncium.descripcion_asalto %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @denuncium.zona %>
</p>

<p>
  <strong>Descripcion asaltante:</strong>
  <%= @denuncium.descripcion_asaltante %>
</p>

<%= link_to 'Edit', edit_denuncium_path(@denuncium) %> |
<%= link_to 'Back', denuncia_path %>
