<p id="notice"><%= notice %></p>

<h1>Messagewatsons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messagewatsons.each do |messagewatson| %>
      <tr>
        <td><%= link_to 'Show', messagewatson %></td>
        <td><%= link_to 'Edit', edit_messagewatson_path(messagewatson) %></td>
        <td><%= link_to 'Destroy', messagewatson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Messagewatson', new_messagewatson_path %>
